* {
    margin: 0;
    padding: 0;
}
body {
    font-family:'Lato';
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;
}

.leftside {
    display: flex;
    justify-content: space-between;
}

.logo_href {
    display: flex;
    align-items: center; 
    margin-right: 37px;
}

.logo_icon {
    margin-right: 13px;
}

.logo_heading {
    text-transform: uppercase;
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222222;
}
.logo_href {
    text-decoration: none;
    color: #222222;
}
.logo_heading::after {
    transform: translate(-100%, 0);
    position: absolute;
    content: "D";
    font-weight: 900;
    color: #f16d7f;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.searching > form > input {
    width: 300px;
    min-height: 40px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-right: none;
    border-left: none;
    border-radius: 0px 0px 0px 0px;
    padding-left: 16px;
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #a4a4a4;
    outline: none;
}

.search_button {
    font-size: 10px;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #a4a4a4;
    cursor: pointer;

}
.browse_button {
    height: 40px;
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222222;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.browse_button > a {
    color: #222222;
    text-decoration: none;
}

.searching > form > button {
    height: 42px;
    background-color: #ffffff;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
    font-size: 13px;
    cursor: pointer;
}
.rightside {
    display: flex;
    justify-content: space-between;
}

.basket {
    position: relative;
}

.cart {
    left: 0;
    top: 40px;
    display: none;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 30px;
    position: absolute;
    text-align: left;
    z-index: 3;
}

.product {
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
}

.left_part_product {
    display: flex;
    justify-content: space-between;
}

.product_photo {
    margin-right: 15px;
    width: 72px;
}

.product_heading {
    font-family: Lato;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #222222;
    margin-bottom: 10px;
}

.product_stars {
    font-size: 12px;
line-height: 1.2;
font-weight: 400;
text-transform: uppercase;
color: #e4af48;
margin-bottom: 10px;
text-decoration: none;
}

.delete_product {
    margin-top: 25px;
    width: 10%;
}
.delete_product > a {
    text-decoration: none;
    font-size: 16px;
font-weight: 400;
text-transform: uppercase;
color: #c0c0c0;
}

.product_count {
    font-size: 12px;
line-height: 1.2;
font-weight: 400;
text-transform: uppercase;
color: #f16d7f; 
}

.price {
    display: flex;
    justify-content: space-between;
}

.total {
    font-size: 16px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
color: #222222;
}

.total_price {
    font-size: 16px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
color: #222222;
margin-bottom: 30px;
}

.basket:hover .cart {
    display: block;  
}

.button_checkout {
    width: 225px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #eaeaea;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: border 0.5s, color 0.5s;
}

.checkout_link {
    text-decoration: none;
    font-size: 14px;
font-weight: 700;
text-transform: uppercase;
color: #4a4a4a;
}

.cart_link {
    display: block;
    text-decoration: none;
}
.button_checkout:hover {
    border: 1px solid #f16d7f;
    color: #f16d7f;
}

.button_checkout:hover .checkout_link {
    color: #f16d7f;
}

.button_gotocart {
    display: block;
    height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #eaeaea;
    text-align: center;
    cursor: pointer;
    transition: border 0.5s, color 0.5s;
}

.gotocart_link {
    text-decoration: none;
    font-size: 14px;
font-weight: 700;
text-transform: uppercase;
color: #4a4a4a;
text-decoration: none;
}

.button_gotocart:hover {
    border: 1px solid #f16d7f;
    color: #f16d7f;
}

.button_gotocart:hover .gotocart_link {
    color: #f16d7f;
}

.account {
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    background-color: #f16d7f;
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    border: 1px solid #ffffff;
    transition: border 0.5s, background-color 0.5s;
}

.account:hover {
    background-color: #ffffff;
    border: 1px solid #f16d7f;
}

.account:hover a {
    color: #f16d7f;
}

.account > a {
    text-decoration: none;
    color: #ffffff;
}

.top > hr {
    height: 1px;
    background-color: #ececec;
    border: none;
}

.menu_data {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
    align-items: center;
    
    flex-wrap: wrap;
}
.menu_list {
    list-style-type: none;
    position: relative;
}

.menu_link {
    font-size: 14px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    padding: 15px 20px;
    text-decoration: none; 
}
.container_menu {
    max-width: 680px;
    margin: 0 auto;

}

.main_screen {
    height: 614px;
    background-color: #e8e8e8;
    background-image: url(img/image_frame_84.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.text {
    text-transform: uppercase;
    font-family: Lato;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #222222;
}

.heading {
    height: 614px;
    display: flex;
    align-items: center;   
}

.text::before {
    content: "";
    height: 100%;
    border-left: 12px solid #f16d7f;
    margin-right: 12px;
}
.subtext::before {
    content: "";
    height: 100%;
    border-left: 12px solid #f16d7f;
    margin-right: 12px;
}


.subtext {
    font-size: 40px;
}

.subtext::after {
    transform: translate(-100%, 0);
    position: absolute;
    content: "FASHION";
    font-weight: 900;
    color: #f16d7f;
}

.categories {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.left_part > .for_men {
    margin-bottom: 20px;
}

.right_part > .for_woman {
    margin-bottom: 20px;
}


.card {
    position: relative;
    transition: transform 0.5s;   
}

.card:hover {
    transform: scale(1.05)
}

.banner {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    position: absolute;
    top: 25px;
}

.subtext_banner {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
}

.text_banner {
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    font-size: 30px;
    color: #f16d7f;
}

.mega-box {
    display: none;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    position: absolute;
    z-index: 99;
}

.drop_down {
    left: 0;
    top: 40px;
    display: none;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    position: absolute;
    text-align: left;
}

.drop_down_heading {
    margin-top: 15px;
    font-family: Lato;
font-size: 14px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.025em;
color: #232323;
    border-bottom: 1px solid #e8e8e8;

    width: 235px;
    padding-bottom: 8px;
    margin-bottom: 10px;
}

.drop_down_link {
    display: block;
    font-family: Lato;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #4f4f4f;
    text-decoration: none;
    transition: color 0.5s;
}

.drop_down_link:hover {
    color: #f16d7f;
}

.browse_button:hover .drop_down {
    display: block;
    z-index:99999999;
}

.mega-heading {
    font-family: Lato;
font-size: 14px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.025em;
color: #232323;
    border-bottom: 1px solid #e8e8e8;

    width: 235px;
    padding-bottom: 8px;
    margin-bottom: 10px;
}

.mega_link {
    display: block;
    font-family: Lato;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #646464;
    text-decoration: none;
    transition: color 0.5s;
}

.mega_link:hover {
    color: #f16d7f;

}

.mega-item {
    margin-right: 47px;
}
.mega-item:last-of-type {
    margin-right: 0;
}

.mega-box:before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    background-color: #fff;
    top: -8px;
    left: 35px;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}

.menu_list:hover .mega-box {
    display: flex;
}

.menu_list_last:hover .mega-box {
    right: 0;
    left: auto;
}

.menu_list_last:hover .mega-box:before {
    right: 55px;
    left: auto;
}

.heading2 {
    margin-top: 20.5px;
}

.image_box {
    margin-top: 18px;
    position: relative;
}

.supersale {
    position: absolute;
    font-family: Lato;
    font-size: 22px;
    line-height: 28px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #ffffff;
    margin-bottom: 0;
    margin-right: 0;
    bottom: 26px;
    right: 26px;
}

.heading_featured_items {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #222222;
    text-align: center;
    margin-bottom: 16px;
}
.p_featured_items {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #9f9f9f;
    margin-bottom: 60px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.first_row {
    margin-bottom: 40px;
}

.featured_card_info {
    margin-top: 16px;
    margin-left: 14px;
    margin-bottom: 21px;
}

.featured_card_heading {
    margin-bottom: 17px;
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

.featured_card_price {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
}
.featured_card_img {
    transition: all 0.5s;
}

.featured_card:hover .featured_card_img {
    background-color: rgba(58,56,56,0.83);
    filter: brightness(50%);
}
.featured_card {
    transition: all 0.5s;
}

.featured_card:hover {
    transform: scale(1.05);
    background-color: #ffffff;
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.15);
}

.featured_cards {
    margin-bottom: 80px;
}
.f_button {
    position: relative;
}

.f_button {
    text-align: center;
}

.f_button:hover .featured_button {
    background-color: #ffffff;
    color: #f16d7f;
    border: 1px solid #f16d7f;
}

.featured_button {  
    border: 1px solid #f16d7f;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f16d7f;
    display: inline-block;
    transition:  color 0.5s, border 0.5s, background-color 0.5s;

}

.featured_items {
    margin-bottom: 115px;
}

.offer {
    display: flex;
    margin-bottom: 100px;
}

.offer_text {
    position: absolute;
    margin-top: 150px;
    margin-left: 40px; 
}

.offer_heading {
    font-size: 53.7px;
line-height: 1.2;
font-weight: 700;
letter-spacing: 0.025em;
color: #ffffff;
text-transform: uppercase;
float: left;
margin-right: 10px;
}

.heading_2 {
    color: #f16d7f;
    float: right;
}


.offer_subheading {
    font-size: 32.2px;
line-height: 1.2;
font-weight: 700;
letter-spacing: 0.025em;
color: #ffffff;
text-transform: uppercase;
}

.offer_img {
    float: left;
    position: relative;
}

.offer_img_shadow {
    position: absolute;
}
.qualities {
    background-color: #222224;
    overflow: hidden;
    width:100%;
    padding-top: 36px;
    padding-left: 36px;
    padding-right: 36px;
}

.quality_img {
    float: left;
    margin-right: 36px;
}
.quality_heading {
    font-family: Lato;
font-size: 20px;
line-height: 1.2;
font-weight: 700;
letter-spacing: 0.025em;
color: #fbfbfb;
margin-bottom: 17px;
}

.quality_p {
    font-family: Lato;
font-size: 13px;
line-height: 24px;
font-weight: 300;
letter-spacing: 0.025em;
color: #fbfbfb;
width: 100%;
}

.quality {
    display: flex;
    margin-bottom: 60px;
}

.quality_last {
    margin-bottom: 0;
}

.quality_text {
    text-align: left;
}

.cart-box {
    display: none;
    position: absolute;
    top: 98px;
    justify-content: center;
    width: 100%;
    pointer-events: none;
    transition: all 0.5s;
}

.item_link {
    text-decoration: none;
}

.cart-link {
    font-family: Lato;
    display: flex;
    padding: 10px;
    color: #ffffff;
    border: 1px solid #fff;
    text-decoration: none;
    align-items: center;
    transition: all 0.5s;
}

.cart-link > img {
    margin-right: 10px;
}

.featured_card:hover .cart-box {
    display: flex;
}

.featured_card {
    position: relative;
}


.subscribe_block {
    background-image: url(img/background_beach.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 438px;
    margin-bottom: 120px;
}

.subscribe_left_part {
    margin-top: 120px;
    width:50%; 
}
.subscribe_right_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 148px;
    width:50%
}
.subscribe_inside {
    display: flex;
}

.comment {
    display: flex;   
}
.comment_img {
    float: left;
    margin-right: 28px;
}
.comment_p {
    font-size: 16px;
    line-height: 26px;
font-weight: 500;
font-style: italic;
letter-spacing: 0.025em;
color: #222224;
}

.comment_author {
    font-size: 16px;
font-weight: 700;
letter-spacing: 0.025em;
color: #f16d7f;
margin-top: 20px;
}

.comment_subauthor {
    font-size: 12px;
font-weight: 300;
color: #222224;
}

.comment_menu {
    margin-top: 30px;
}
.comment_menu_block {
    content:"";
    float: left;
    margin-right: 13px;
    background-color: #d6d6d6;
    transition: background-color 0.5s;
    margin-bottom: 20px;
}
.comment_menu_block > a {
    width: 38px;
height: 4px;
    display: flex;
    flex-wrap: wrap;
}

.comment_menu_block:hover {
    background-color: #f16d7f;
}

.form_heading {
    font-size: 24px;
font-weight: 500;
text-transform: uppercase;
letter-spacing: 0.025em;
color: #222224;
margin-bottom: 5px;
}

.form_subheading {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.025em;
    color: #222224;
    margin-bottom: 35px;
}

.form_email_a {
    display: flex;
}


.form_input {
    display: block;  
    font-size: 14px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 28px;
    width: 300px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #222224;
    background-color: #e1e1e1;
    border: none;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
}

.form_button {
    display: block;
    font-family: Lato;
    background-color: #f16d7f;
    border-radius: 0px 23px 23px 0px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 21px;
    padding-right: 21px;
    cursor: pointer;
    border: 1px solid #f16d7f;
    transition: all 0.5s;
}

.form_button:hover {
    color:#f16d7f;
    background-color: #ffffff;
    border: 1px solid #f16d7f;
}

.about_p {
    font-family: Lato;
font-size: 14px;
line-height: 24px;
font-weight: 300;
letter-spacing: 0.025em;
color: #898989;
}

.footer_top {
    display: flex;
    justify-content: space-between;
}

.footer_logo {
    margin-bottom: 30px;
}

.footer_info {
    width:40%;
    margin-right: 64px;
}

.footer_menu {
    width: 20%;
}

.footer_menu_heading {
    text-transform: uppercase;
    font-family: Lato;
font-size: 18px;
line-height: 26px;
font-weight: 700;
letter-spacing: 0.025em;
color: #f16d7f;
margin-bottom: 45px;
}

.footer_menu_p {
    font-family: Lato;
font-size: 16px;
font-weight: 400;
letter-spacing: 0.025em;
color: #898989;
margin-bottom: 30px;
transition: color 0.5s;
}

.footer_menu_p > .last {
    margin-bottom: 0;
}

.footer_top {
    margin-bottom: 100px;
}
.footer_menu > a {
    text-decoration: none;
}

.footer_bot {
    background-color: #e6e6e6;
}

.footer_bot_info {
    display: flex;
    justify-content: space-between;
}

.rights {
    margin-top: 32px;
    margin-bottom: 32px;
}
.rights_text {
    font-family: Lato;
font-size: 16px;
font-weight: 400;
letter-spacing: 0.025em;
color: #7a7a7a;
}
.icons_list {
    list-style-type: none;
}

.icons {
    margin-top: 24px;
    margin-bottom: 24px;
}
.icon {
    display: block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.025em;
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    background-color: #ffffff;
    transition: background-color 0.5s;
}

.icon_a {
    margin: 8px;
    text-align: center;
    line-height: 2em;
    color: #b2b2b2;
    text-decoration: none;
    transition: color 0.5s;
}

.icon:hover {
    background-color: #f16d7f;
}

.icon:hover .icon_a {
    color: #f7f7f8;
}

.icon > .last {
    margin-right: 0;
}


/*Вторая страница*/

.newarrivals_block {
    background-color: #f8f3f4;
}

.arrivals_content {
    display: flex;
    justify-content: space-between;
    padding-top: 65px;
    padding-bottom: 65px;
}

.parrent {
    font-size: 14px;
font-weight: 300;
text-transform: uppercase;
color: #636363;
    text-decoration: none;
}

.child {
    
    font-weight: 700;
color: #f16d7f;
}

.arrivals_heading {
    font-size: 24px;
font-weight: 900;
text-transform: uppercase;
color: #f16d7f;
}

.path_p {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.product_huge_block {
    position: relative;
    background-color: #f7f7f7;
border: 1px solid #eaeaea;
}

.huge_photo {
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
}

.scroll_button {
    padding: 16px;
    background-color: rgba(42,42,42,0.14);
    font-size: 24px;
line-height: 24px;
font-weight: 400;
color: #ffffff;
}

.scroll_buttons {
    margin-top: 365px;
margin-bottom: 365px;
    display: flex;
    justify-content: space-between;
}

.scroll_link {
    text-decoration: none;
}




.payment_subheading {
    font-size: 14px;
line-height: 24px;
font-weight: 700;
color: #f16d7f;
padding-bottom: 15px;
border-bottom: 1px solid #eaeaea;
margin-top: 70px;   
margin-bottom: 15px;
text-transform: uppercase;
width: 150px;
}

.product_subheading {
    display: flex;
    justify-content: center;
    position: relative;
}

.payment_heading {
    font-size: 18px;
line-height: 24px;
font-weight: 900;
text-transform: uppercase;
color: #4d4d4d;
margin-bottom: 70px;
text-align: center;
}

.payment_text {
    font-size: 14px;
line-height: 24px;
font-weight: 300;
color: #5e5e5e;
text-align: center;
}

.product_payment_text {
    width: 618px;
    margin-bottom: 30px
}


.describtion {
    width: 332px;
    display: flex;
    justify-content: space-between;
}
.describtion_name {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 700;
    color: #b9b9b9;
    text-transform: uppercase;
}

.describtion_atribute {
    color: #2f2f2f;
}

.small_container {
    max-width: 640px;
    margin: 0 auto;
}

.tags {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.payment_price {
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    color: #ef5b70;
    text-align: center;
    margin-bottom: 40px;
}

.line {
border: 1px solid #eaeaea;
margin-bottom: 60px;
}

.product_option_heading {
    font-size: 14px;
font-weight: 700;
color: #2f2f2f;
}

.product_option_field {
    width: 145px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
    background-color: #ffffff;
border: 1px solid #eaeaea;
color: #bcbcbc;
}

.color_txt {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
    color: #bcbcbc;
}

.color_icon_txt {
    color: #f16d7f;
}

.count {
    margin-bottom: 20px;
}

.field_count {
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    padding-left: 5px;
    font-size: 14px;
}

.product_options_cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.product_payment_button {
    border: 1px solid #222222;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 570px; 
    margin-bottom: 120px;
    transition: border 0.5s;
}

.product_payment_button:hover {
    border: 1px solid #ef5b70;
}

.product_payment_button:hover .payment_button {
    color: #ef5b70;
}

.product_payment_button:hover .button_image {
    filter: brightness(100%)
}

.payment_button {
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    color: #222222;
    margin-top: 22px;
    margin-bottom: 22px;
    transition: color 0.5s;
}


.button_align {
    cursor: pointer;
    background: none;
	color: inherit;
	border: none;
    width: 570px;    
}

.button_image {
    margin-right: 15px;
    margin-top: 19px;
    margin-bottom: 19px;
    filter: brightness(0);
    transition: filter 0.5s;
}

.button_items {
    display: flex;
    justify-content: center;
}

.product_payment {
    border: 1px solid #eaeaea;
    width: 1140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    background-color: #ffffff;
    top: 450px;
    left: 50%;
    transform: translate(-50%, 69%);
    z-index: 2;
    overflow: hidden;
}

.you_may_also_like {
    margin-top: 860px;

    margin-bottom: 70px;
    top: 50%;
}




.pink_line {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 63px;
    height: 3px;
    background-color: #ef5b70;
    top: 87%;
    left: 50%;
    transform: translate(-50%, 2%);
    z-index: 6;
}

.ymal_heading {
    text-align: center;
    font-family: Lato;
font-size: 24px;
line-height: 20px;
font-weight: 900;
text-transform: uppercase;
color: #4d4d4d;
margin-bottom: 70px;
}

.you_may_also_like > .container > .row {
    margin: 0;
}

/*Product*/
.product_shop {
    margin-top: 60px;
}
.product_shop > .container {
    display: flex;
    justify-content: space-between;
}

.right_part_shop {
    width: 20%;
    height: 700px;
    margin-right: 50px;
}

.left_part_shop {
    width: 80%;
}


.product_input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tabs {
  overflow: hidden;
  z-index: 100000;
}

.tab {
  width: 100%;
  color: #6f6e6e;
  overflow: hidden;
  margin-bottom: 20px;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
line-height: 20px;
font-weight: 700;
text-transform: uppercase;
  border-bottom: 1px solid #ebebeb;
  border-left: 5px solid #ef5b70;
  transition: color 0.5s;
  /* Icon */
}
.tab-label:hover {
  color: #ef5b70;
}
.tab-label::after {
  content: "▾";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #6f6e6e;
  background: white;
  transition: all 0.35s;
  
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  color: #ef5b70;
  cursor: pointer;
  z-index: 1000011;
  transition: color 0.5s;
}
.tab-close:hover {
    color: #ef5b70;
}

input:checked + .tab-label {
    color: #ef5b70;
}
input:checked + .tab-label::after {
    content: "▴";

}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

.tab-content-element {
    list-style-type: none;
    line-height: 33px;
}

.tab-content-element:hover > a {
    color: #ef5b70;
}

.tab-content-element > a {
    display: block;
    font-family: Lato;
    font-size: 14px;
    text-decoration: none;
    color: #6f6e6e;
    font-weight: 400;
    transition: color 0.5s;
}

.menu_link_product {
    border-bottom: 3px solid #ef5b70;
}

.shop_categories {
    display: flex;
    justify-content: space-between;
}
.categories_p {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 6px;
}

.categories_h1 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6f6e6e;
    margin-bottom: 25px;
}
.categories_size > label {
    font-size: 14px;
font-weight: 400;
text-transform: uppercase;
color: #6f6e6e;
margin-right: 25px;
}

.parrent_cat {
    text-decoration: none;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    color: #6f6e6e;
    transition: color 0.5s;
}

.categories_p:hover .parrent_cat {
    color: #f16d7f;
}
.slider {
    width: 260px;
    color: #f16d7f;
}


.price_range {
    display: flex;
    justify-content: space-between;
}

.categories_price {
    font-size: 14px;
line-height: 26px;
font-weight: 400;
color: #6f6e6e;
}

.shop {
    margin-top: 50px;
}

.third_row {
    margin-top: 50px;
}

.shop_sort {
    margin-top: 50px;
    background-color: #f3f3f3;
    height: 50px;
}

.first_sort {
    padding: 10px;
    display: flex;
}
.first_sort_txt {
    width: 50px;
    padding: 7px;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    height: 17px
    
}
.first_sort_h {
    font-size: 14px;
font-weight: 400;
color: #6f6e6e;
}

.sort_option_field {
    padding: 7px;
    padding-bottom: 6px;
    font-size: 14px;
font-weight: 400;
color: #6f6e6e;
background-color: #ffffff;
border: 1px solid #ebebeb;
width: 100px;

}

.sort_second {
    padding: 10px;
    display: flex;
}

.sort_block {
    display: flex;
}

.shop_rows {
    margin-bottom: 45px;
}

.page {
    padding: 16px;
    border: 1px solid #ebebeb;
border-radius: 3px;
    list-style-type: none;
    display: flex;
    font-size: 16px;
font-weight: 400;
width: 215px;
}

.arrow_left {
    margin-right: 16px;
}

.page_current {
    text-decoration: none;
    font-weight: 700;
    color: #ef5b70;
}
.arrow_right {
    margin-left: 16px;
}

.page_no_current {
    margin-left: 16px;
}

.page_last {
    margin: 0;
}
.page__numbers {
    text-decoration: none;
    color: #c4c4c4;
    transition: color 0.5s;
}

.page__numbers:hover {
font-weight: 700;
color: #ef5b70;
}

.bot_shop_button_text {
    width: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 45px;
    padding-right: 45px;
    font-size: 16px;
font-weight: 700;
color: #ef5b70;
border: 1px solid #ef5b70;
border-radius: 3px;
transition: all 0.5s;
}

.bot_shop_button > a {
    text-decoration: none;
}

.bot_shop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
}

.bot_shop_button:hover .bot_shop_button_text {
    color: #ffffff;
    background-color: #f16d7f;
    font-weight: 500;
    border: 1px solid #ffffff;
}

.our_benefits {
    background-color: #222224;
    height: 340px;
}

.benefit_elements {
    display: flex;
    justify-content: space-between;
}

.benefit {
    margin-top: 89px;
    margin-bottom: 115px;
    width: 33.3%;
}

.benefit_icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.benefit_heading {
    text-align: center;
    font-size: 20px;
line-height: 1.2;
font-weight: 700;
letter-spacing: 0.025em;
color: #fbfbfb;
margin-top: 21px;
margin-bottom: 21px;
}

.benefit_p {
    width: 320px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
line-height: 23px;
font-weight: 300;
letter-spacing: 0.025em;
color: #fbfbfb;
}

.benefit_elements {
    position: relative;
}

.benefit_h_2 {
    margin-top: 13.5px;
}


/*Checkout*/

.col_2 {
    margin-top: 90px;
    margin-bottom: 90px;
}

.product_input_2 {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  
  .tabs_2 {
    overflow: hidden;
    z-index: 100000;
  }
  
  .tab_2 {
    width: 100%;
    color: #222222;
    overflow: hidden;
    margin-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
  }
  .tab-label_2 {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    transition: color 0.5s;
}

  .tab-label_2:hover {
    color: #ef5b70;
}
  .tab-content_2 {
    max-height: 0;
    padding: 0 1em;
    color: #6f6e6e;
    background: white;
    transition: all 0.35s;
    
  }
  .tab-close_2 {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    color: #ef5b70;
    cursor: pointer;
    z-index: 1000011;
    transition: color 0.5s;
  }
  .tab-close_2:hover {
      color: #ef5b70;
  }

  input:checked ~ .tab-content_2 {
    max-height: 100vh;
    padding: 1em;
  }
  
  .tab-content-element_2 {
      list-style-type: none;
      line-height: 33px;
  }
  
  .tab-content-element_2:hover > a {
      color: #ef5b70;
  }
  
  .tab-content-element_2 > a {
      display: block;
      font-family: Lato;
      font-size: 14px;
      text-decoration: none;
      color: #6f6e6e;
      font-weight: 400;
      transition: color 0.5s;
  }
  
.shipping_left_part {
    margin-left: 35px;
}
.shipping_text {
    font-family: Lato;
    font-size: 13px;
font-weight: 550;
text-transform: uppercase;
color: #222222;
margin-bottom: 15px;
}
.shipping_subtext {
    font-family: Lato;
    font-size: 13px;
font-weight: 400;
color: #b3b2b2;
}
  
.account_form {
    margin-top: 35px;
    margin-bottom: 35px;
}

.acc_input_1 {
    margin-bottom: 20px;
}

.acc_input_2 {
    margin-bottom: 35px;
}

.shipping_subtext_2 {
    margin-bottom: 30px;
}

.shipping_subtext_3 {
    margin-bottom: 15px;
}

.shipping_button {
    font-family: Lato;
    background-color: #ffffff;
border: 1px solid #eaeaea;
padding: 20px 50px;
text-align: center;
font-weight: 700;
text-transform: uppercase;
margin-top: 40px;
 cursor: pointer;
 transition: color 0.5s, border 0.5s
}

.shipping_button:hover {
    color: #ef5b70;
    border: 1px solid #ef5b70;
}

.tab_shipping {
    display: flex;
    justify-content: space-between;
}

.shipping_right_part {
    margin-right: 35px;
    width: 45%;
}

.login_heading {
    font-size: 12px;
font-weight: 400;
color: #222222;
text-transform: uppercase;
margin-bottom: 15px;
}

.login_heading::after {
    content: "*";
    color: #ff0d0d;
    margin-left: 5px;
}

.login_input {
    background-color: #ffffff;
border: 1px solid #eaeaea;
width: 390px;
margin-bottom: 23px;
padding-left: 15px;
height: 45px;
}

.login_required {
    font-size: 13px;
font-weight: 400;
color: #ff0d0d;
margin-bottom: 30px;
}
.account_send {
    display: flex;
}

.account_forgot {
    font-size: 14px;
line-height: 20px;
font-weight: 400;
color: #222222;
margin-left: 30px;
text-decoration: none;
padding-top: 20px;
padding-bottom: 20px;
transition: color 0.5s, border 0.5s;
}

.account_forgot:hover {
    color: #ef5b70;
}
.login_button {
    margin-top: 0;
}

.footer_menu_p:hover {
    color: #ef5b70;
}



/*Shopping cart*/

.shopping_cart {
    margin-top: 90px;
    margin-bottom: 80px;
}
.shopping_atributes {
    display: flex;
    
    border-bottom: 1px solid #eaeaea;;
}

.main_block_shopping {
    margin-bottom: 45px;
}
.atribute_product_details {
    width: 45%;
}

.info_atributes {
    width: 55%;
    display: flex;
    justify-content: space-between;
}


.atribute_txt {
    margin-bottom: 20px;
    font-family: Lato;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.015em;
    color: #222222;
}

.atribute_img {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.atribute_product_details_card {
    display: flex;
}

.atribute_product_details_heading {
    margin-top: 35px;
    margin-bottom: 35px;
    font-family: Lato;
font-size: 13px;
font-weight: 400;
text-transform: uppercase;
color: #222222;
}
.atribute_product_details_info {
    font-family: Lato;
font-size: 13px;
font-weight: 400;
color: #575757;
margin-bottom: 10px;
}

.atribute_product_details_info::after {
    content:"      Red";
    font-weight: 300;
color: #6f6e6e;
}

.info_2::after {
    content: "     XII"
}


.atribute_unite_price_card {
    position: relative;
}

.atribute_txt_card {
    position: absolute;
    top:50%; left:50%;
    font-size: 13px;
line-height: 20px;
font-weight: 400;
color: #656565;
margin-top:-15px;
margin-left: 20px;
}

.atribute_quantity_card {
    position: relative;
}

.atribute_shipping_card {
    position: relative;
}

.atribute_shipping_card {
    position: relative;
}

.atribute_subtotal_card {
    position: relative;
}

.atribute_action_card  {
    position: relative;
}

.atribute_quantity_field {
background-color: #ffffff;
border: 1px solid #eaeaea;
font-size: 13px;
font-weight: 400;
color: #656565;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
margin-top:-21px;
text-align: center;
position: absolute;
    top:50%; left:50%;
}

.atribute_shipping_card {
    margin-left: -5px;
}

.atribute_subtotal_card {
    margin-left: -20px;
}

.atribute_txt_link {
    position: absolute;
    top:50%; left:50%;
    margin-left: -32px;
    margin-top: -15px;
    text-decoration: none;
    font-size: 16px;
font-weight: 400;
text-transform: uppercase;
color: #c0c0c0;
}

.atribute_product_details_link {
    display: flex;
    text-decoration: none;
}


.sub_block_shopping {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.sub_block_button {
    text-decoration: none;
    font-size: 14px;
font-weight: 700;
text-transform: uppercase;
color: #4a4a4a;
border: 1px solid #eaeaea;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 40px;
padding-right: 40px;
text-transform: uppercase;
transition: all 0.5s;
}

.sub_block_button:hover {
    color: #ef5b70;
    border: 1px solid #ef5b70;
}

.purchase_heading {
    font-family: Lato;
font-size: 16px;
font-weight: 700;
text-transform: uppercase;
color: #222222;
margin-bottom: 20px;  
}

.purchase_block_heading {
    margin-bottom: 20px;
}
.purchase_option_field {
    font-size: 13px;
    border: 1px solid #eaeaea;
    font-weight: 300;
    color: #b1b1b1;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    width: 335px;
    margin-bottom: 20px;
    padding-right: 20px;
}
.purchase_field {
    font-size: 13px;
    border: 1px solid #eaeaea;
    font-weight: 300;
    color: #b1b1b1;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    width: 100%;
    margin-bottom: 20px;
}
.purchase_field::placeholder {
    color: #b1b1b1;
}
.purchase_button {
    font-size: 11px;
font-weight: 700;
text-transform: uppercase;
color: #4a4a4a;
border: 1px solid #eaeaea;
padding-left: 15px;
padding-right: 15px;
padding-top: 12px;
padding-bottom: 12px;
background-color: #ffffff;
cursor: pointer;
transition: all 0.5s;
}

.purchase_button:hover {
    color: #f16d7f;
    border: 1px solid #f16d7f
}

.coupon_heading {
    margin-bottom: 28px;
}

.coupon_p {
    font-size: 14px;
font-weight: 300;
color: #000000;
margin-bottom: 25px;
}

.purchase_heading_sum {
    font-family: Lato;
font-size: 16px;
font-weight: 700;
text-transform: uppercase;
color: #f16d7f;
}

.purchase_heading, .purchase_heading_sum {
    display: inline;
}
.proceed_checkout {
    font-size: 11px;
font-weight: 400;
text-transform: uppercase;
color: #4a4a4a;
margin-bottom: 14px;
}

.proceed_checkout_info {
    border-bottom: 1px solid #e2e2e2;
    text-align: right;
    padding-bottom: 20px;
}

.proceed_checkout_button {
    font-family: Lato;
    display: block;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    font-family: Lato;
font-size: 16px;
text-transform: uppercase;
color: #ffffff;
background-color: #f16d7f;
text-decoration: none;
margin-top: 20px;
text-align: center;
border: 1px solid #f16d7f;
transition: all 0.5s;
}

.proceed_checkout_button:hover {
    background-color: #f5f3f3;
    color: #f16d7f;
    border: 1px solid #f16d7f;
}

.proceed_checkout_block {
    padding: 40px;
    background-color: #f5f3f3;
    width: 28%;
    height: 150px;
}

.purchase_block {
    display: flex;
    justify-content: space-between;
}

.purchase_shipping_block {
    width: 28%;
}

.coupon_block {
    width: 28%;
}


@media (max-width: 1024px) {
    .cart {
        left: auto;
        right: 0;
        top: 40px;
        display: none;
        background-color: #ffffff;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-top: 30px;
        position: absolute;
        text-align: left;
        z-index: 3;
    }
    .container {
        max-width: 1024px;
        margin-right: 2%;
        margin-left: 2%;
    }
    .menu_list:hover .mega-box {
        display: flex;
        flex-direction: column;
    }
    .mega-heading {
        margin-top: 15px;
    }
    
    .login_input {
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    max-width: 300px;
    margin-bottom: 23px;
    padding-left: 15px;
    height: 45px;
    }
    .subscribe_inside {
        display: flex;
    }

    .comment_p {
        font-size: 13px;
    }

    .subscribe_block {
        background-size: cover;
        margin-bottom: 20px;
    }

    .subscribe_right_part {
        width: 50%;
    }

    .form_input {
        max-width: 200px;
    }

    .footer_menu {
        max-width: 20%;
    }
    .footer_menu_heading {
        font-size: 15px;
    }
    .footer_menu_p {
        font-size: 13px;
    }

    .about_p {
        font-size: 11px;
    }

    .col_2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .footer_logo {
        margin-bottom: 15px;
    }
    .searching > form > input {
        max-width: 150px;
    }
    .footer_top {
        margin-bottom: 30px;
        margin-top: 30px;
    }
}


@media (max-width: 768px) {
   /*.browse_button {
        height: 20px;
    }
    .browse_button > a {
        font-size: 10px;
    }
    .searching > form > input {
        height: 20px;
        max-width: 100px;
        font-size: 10px;
    }
    .searching > form > input ::placeholder {
        font-size: 10px;
    }*/
    .nav {
        display: none;
    }
    .container {
        max-width: 768px;
        margin-right: 2%;
        margin-left: 2%;
    }
    .tab_shipping {
        flex-direction: column;
    }
    .shipping_right_part {
        width: auto;
    }
    .shipping_left_part {
        margin-left: 0;
        margin: auto;
    }
    .shipping_right_part {
        margin: auto;
        width: auto;
    }
    .subscribe_inside { 
        flex-direction: column;
    }
    .subscribe_left_part {
        padding-top: 20px;
        margin: auto;
        width:100%; 
    }
    .subscribe_right_part { 
        margin: auto;
        padding-bottom: 20px;
    }
    .subscribe_block { 
        background-size: cover;
    }
    .form_heading {
        margin-top: 20px;
    }
    .footer_top {
        flex-wrap: wrap;
    }
    .footer_info {
        margin-left: 10%;
        margin-right: 10%;
    }
    .footer_menu {
       margin-left: 10%;
       margin-right: 10%;
    }
    .about_p {
        margin-bottom: 20px;
    }
    .form_subheading {
        text-align: center;
    }
}

@media (max-width: 425px) {
    .footer_top {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .comment_menu_block > a {
        width: 16px;
    }
    .account {
        font-size: 12px;
    }
    .account > a > i {
        display: none;
    }
    .footer_menu_p {
        margin-bottom: 15px;
    }
    .footer_menu_heading {
        margin-bottom: 20px;
    }
    .footer_info {
        margin-left: auto;
        margin-right: auto;
    }
    .footer_menu {
       margin-left: 30%;
       margin-right: auto;
    }
}















